{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Page de blog</h1>

    <p> {{prenom}} >>>>>>>> All</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut expedita quasi perferendis voluptatem laudantium pariatur odit velit a. Amet id nemo facilis labore suscipit nam corporis tempora ex deleniti. Mollitia ipsa excepturi nesciunt quas aspernatur optio laborum labore dicta praesentium debitis earum provident atque dignissimos aliquid, minima corrupti assumenda. Quia.</p>
</body>
</html>